@tailwind base;
@tailwind components;
@tailwind utilities;
.box-shadow-1{
    box-shadow: 6px 6px;
}
.box-shadow-2{
    box-shadow: 3px 3px;
}
.border-nav{
    border-color: black;
}
.logo-bg-color{
    background-color: white;
}